@model TheCompany.Data.ContactInfo

@{
    ViewBag.Title = "Create";
}

<h2>Create Contact Info</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ContactDataEN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactDataEN)
                @Html.ValidationMessageFor(model => model.ContactDataEN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactLabelBG, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactLabelBG)
                @Html.ValidationMessageFor(model => model.ContactLabelBG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactDataEN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactDataEN)
                @Html.ValidationMessageFor(model => model.ContactDataEN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactDataBG, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactDataBG)
                @Html.ValidationMessageFor(model => model.ContactDataBG)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
